<div class="room-card">
  <div class="room-content">
    <h2 class="room-title"><%= room.name %></h2>
    <p class="room-description"><%= room.description %></p>

    <%= link_to "Reserve", new_reservation_path(room_id: room.id), class: "reserve-button" %>
  </div>
</div>