<%= stylesheet_link_tag 'dashboard', media: 'all' %>
<!-- Blueprint at top center -->
<div class="blueprint-wrapper">
  <img src="https://img5.pic.in.th/file/secure-sv1/rooms.md.png" alt="bluePrint" class="blueprint-img" />
</div>


  <div class="w-full lg:w-1/3">
    <div class="upcoming-reservations" id="upcoming-reservations">
      <%= render 'dashboard/upcoming', reservations: @upcoming_reservations %>
    </div>
  </div>

    <div class="rooms-container">
       <h2 class="font-luxury rooms">Rooms</h2>
      <div class="room-cards-container">
        <% if @rooms.present? %>
          <% @rooms.each do |room| %>
            <%= render 'room', room: room %>
          <% end %>
        <% else %>
          <p class="text-center text-white opacity-75">No rooms available to reserve at the moment.</p>
        <% end %>
      </div>
    </div>
