<table>
  <thead>
    <tr>
      <th>Room Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% if @rooms.present? %>
      <% @rooms.each do |room| %>
        <tr>
          <td><%= room.name %></td>
          <td>
            <%= link_to 'Reserve', reserve_room_path(room), class: 'btn btn-primary' %>
          </td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2">No rooms available.</td>
      </tr>
    <% end %>
  </tbody>
</table>
