
/* Login Box Styling */
.login-box {
  background-color: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;  /* Reasonable fixed max width */
  margin: auto;
  box-sizing: border-box;
}

.register-box{
  background-color: #fff;
  padding: 2rem;
  border-radius: 1.5rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 500px;  /* Reasonable fixed max width */
  margin: auto;
  box-sizing: border-box;
  max-height : 100vh;
}

/* Heading Styling */
.login-heading {
  font-size: 2rem;
  color: #06202B;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}

/* Form Styling */
.login-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-group {
  margin-bottom: 1rem;
}

.input-label {
  display: block;
  color: #06202B;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.input-field {
  width: 90%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #06202B;
  background-color: white; /* White background for fields */
  color: #06202B; /* Dark text color */
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

.input-role{
  width: 90%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid #7AE2CF;
  background-color: white; /* White background for fields */
  color: #06202B; /* Dark text color */
  font-size: 1rem;
  outline: none;
  transition: border-color 0.3s ease-in-out;
}
.input-field:focus {
  border-color: #7AE2CF; /* Darker gold border on focus */
  box-shadow: 0 0 5px rgba(120, 254, 194, 0.8); /* Subtle glow effect */
}

/* Button Styling */
.button-container {
  display: flex;
  justify-content: space-between;
  gap: 1rem; /* Add gap between the buttons */
}

.submit-button, .register-button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  text-decoration: none;
  display: inline-block;
}

.submit-button {
  background-color: #06202B;
  color: white;
}

.submit-button:hover {
  background-color: #7AE2CF;
}

.register-button {
  background-color: #06202B;
  color: white;
}

.register-button:hover {
  background-color: #7AE2CF;
}

.flash-alert {
  background-color: #f8d7da;
  color: #842029;
  padding: 12px 16px;
  margin-bottom: 20px;
  border: 1px solid #f5c2c7;
  border-radius: 8px;
  font-weight: bold;
  text-align: center;
}


/* Forgot Password Link */
.forgot-password {
  display: block;
  text-align: center;
  font-size: 0.875rem;
  color: #06202B;
  text-decoration: none;
  margin-top: 1rem;
  transition: color 0.3s ease;
}

.forgot-password:hover {
  color: #693382;
}
